<header>
    <button class="menu-toggle"><i class="fa-solid fa-bars"></i>
    </button>
    <div class="logo">
        <h2>food<span class="orange-text">i</span>e</h2>
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-container">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search for food..." />
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Cart Icon -->
    <div class="cart js-show-cart-tab show-cart-tab">
        <i class="fas fa-shopping-cart"></i>
        <div class="cart-count js-cart-count"></div>
    </div>
</header>
