<div class="modal-content">
    <div>
        <button class="modal-close-btn" onclick="closeModal()">X</button>
        <h2>Order Summary</h2>
    </div>
    <div id="order-items"></div>
    <div>
        <p class="summary-total">Subtotal: ₦<span id="subtotal"></span></p>
        <p class="summary-total">Tax (5%): ₦<span id="tax"></span></p>
        <p class="summary-total">Total: ₦<span id="total"></span></p>
    </div>
    <div>
        <button class="btn" onclick="proceedToPayment()">Proceed to Payment</button>
    </div>
</div>